.name {
    background-color: mediumseagreen;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.name:hover {
    background-color: lightseagreen;
}

.name:active {
    background-color: rgb(36, 207, 179);
}

.item {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.item:hover {
    text-shadow: 2px 2px 7px;
    box-shadow: 2px 2px 3px, -2px -2px 3px;
}

.navItems    {
    justify-content: right;
}
