<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arya&family=Raleway:wght@100;600&display=swap" rel="stylesheet">
    <link rel="icon" href="./assets/4.png">
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand name" href="index.html">Ryan Burnett</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navItems">
        <li class="nav-item item">
          <a class="nav-link" href="index.html">Index</a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" href="portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item item active">
          <a class="nav-link" href="contact.html">Contact</a><span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </nav>