<br>
  <h1 class="heading-text">About Me</h1>
  <br>
  <img src="./assets/headshot.JPG" alt="headshot" class="image">

  <section class="body-text">
    <p class="margin">Full stack web developer leveraging experience as an educator, composer and musician to create a creative, clean, and useful web experience for the end user.  </p> 

    <p class="margin">As a recent earner of a certificate in full stack development from Northwestern University, I am ready to bring my new skills, enthusiasm and work ethic to your team.  I have experience with HTML/CSS/JavaScript, Java, React, Angular, Node, Express, and SQL.  I have also shown an ability to write clean, functional, intuitive code.  </p>

    <p class="margin">I am currently a professional full stack developer, and my previous professional experience is in music education.  I have a bachelor’s degree in music performance, as well as a master’s degree in music education.  I leverage my previous experience to learn quickly, think on my feet, and find creative solutions to problems.  </p>
  </section>