@import "~bootstrap/dist/css/bootstrap.css";

* {
    flex-wrap: wrap;
    max-width: 100%;
} 

body {
    /* gradient */
    background: rgb(197,255,175);
    background: linear-gradient(90deg, rgba(197,255,175,1) 0%, rgba(99,254,96,1) 50%, rgba(0,195,2,1) 100%);
    /* fixes background height */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes fadeIn {  
    0% {
        opacity: 0%;
        margin-top: 1.5%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        width: 90%;
    }

    .image {
        height: 175px;
        width: 175px;
    }
    
    .navItems {
        font-size: 12px;
    }

    .name {
        font-size: 12px;
    }

    .contact {
        font-size: 12px;
    }

    .contact-icon {
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 600px) {
    .portfolio {
        width: 90%;
    }

    .image {
        height: 175px;
        width: 175px;
    }
}

@media screen and (min-width: 768px) {
    .body-text {
        font-size: 20px
    }

    .portfolio {
        width: 45%;
    }

    .image {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .body-text {
        font-size: 22px
    }

    .portfolio {
        width: 30%;
    }

    .image {
        height: 228px;
        width: 228px;
    }
}

@media screen and (min-width: 1200px) {
    .body-text {
        font-size: 24px
    }
    
    .portfolio {
        width: 30%;
    }

    .image {
        height: 228px;
        width: 228px;
    }
}